body {
	position: relative;
	height: 100vh;
	margin: 0;
}
body::before {
	content: "";
	background: url("bg2.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	
}

.inner {
	padding-top: 30px;
}

.h1{
	color: black;
	font-size:24px;
}

.text{
	color:#000000;
	text-decoration:underline
}
.swag{
	color:#000000;
}
.header{
	
	margin: auto;
	text-align: center;
	font-size: 24px ;
	padding: 50px;
}
	
.link{
	color: #000000;
}
.link:hover {
		color: #9c27b0;
		text-decoration: none;
}
.feedback{
	margin: 0 auto;
	text-align: center;
	padding: 50px;
	font-size: 30px;
	
}
.container{
	width: 960px;
	
	position: relative;
	margin-bottom: 20px;
}
.form__input{
	display: block;
	margin: auto;
	margin-bottom: 10px;
	width: 400px;
	background: #eb7020;
	border: 1px solid;
	font-size: 14px;
	padding: 10px 4px;
	
}
.form__button{
	width: 400px;
	background: #eb7020 ;
	font-size: 14px;
	border: 0;
	padding: 10px;
	color: white;
}
.window{
	display: block;
	margin: auto;
	margin-bottom: 10px;
	width: 400px;
	background:#eb7020;
	font-size: 14px;
	padding: 10px 4px;
}
