.h1{
	color: black;
	font-size:24px;
}

.text{
	color:#000000;
	text-decoration:underline
}
.swag{
	color:#9c27b0;
}
.header{

	background: #f9a01a;
	margin: 100px auto;
	text-align: center;
	font-size: 24px ;
	padding: 50px;

}
	
.link{
	color: #000000;
}
.link:hover {
		color: #9c27b0;
		text-decoration: none;
}
.feedback{


	margin: 100px auto;
	text-align: center;
	padding: 50px;
	font-size: 30px;
	background: #c21af9
}
.container{
	width: 960px;
	border: 3px solid #000000;	
	border-radius: 250px;
}
.form__input{
	display: block;
	margin: auto;
	margin-bottom: 10px;
	width: 400px;
	background: #f9a01a;
	border: 1px solid;
	font-size: 14px;
	padding: 10px 4px;
	
}
.form__button{
	width: 400px;
	background: black ;
	font-size: 14px;
	border: 0;
	padding: 10px;
	color: white;
}
.window{
	display: block;
	margin: auto;
	margin-bottom: 10px;
	width: 400px;
	background:#f9a01a ;
	border: 2px solid;
	font-size: 14px;
	padding: 10px 4px;
	

}